.myButton {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--sds-c-button-brand-color-background, #0070d2);
    border-color: var(--sds-c-button-brand-color-border, #0070d2);
    color: var(--sds-c-button-brand-text-color, #fff);
}

.myButton:active {
    background-color: var(--sds-c-button-destructive-color-background, #c23934);
    border-color: var(--sds-c-button-destructive-color-border, #c23934);
    color: var(--sds-c-button-destructive-text-color, #fff);
}
